nav{
    background-color: rgb(30, 110, 230);
    display: flex;
    width:100%;
    height:60px;
    margin:0;
    position: relative;
    top:0;
    left:0;
}

img{
    margin-left:250px;
}

.search{
    margin:10px;
    width:500px;
    font-size: medium;
}

.login-button{
    width:90px;
    margin-top:10px;
    margin-left:150px;
    height:40px;
    font-size: medium;
    color:rgb(30, 110, 230);
}